footer{
    margin-top: 4rem;
    .footer_first {
        text-align: center;
        .search-control {
            width: 100%;
            position: relative;
           
            margin-top: 2rem;
            input[type="text"] {
                width: 50%;
                margin: 0 auto;
                border:1px solid lightgray;
                border-radius: 2rem;
                padding:.5rem 5rem .5rem 5rem;
                box-shadow: 2px 4px 19px -10px rgba(128,128,128,0.75);
                &:focus{
                    outline: none;
                    border:none;
                }
            }
            #search{
                position: absolute;
                right: 30rem;
                font-size: 1.3rem;
                color: gold;
                top: 50%;
                transform: translateY(-50%);
            }
            #envelope{
                position: absolute;
                left: 30rem;
                font-size: 1.3rem;
                color: gray;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
 
}
.footer_second{
    width: 100%;
    background-image: linear-gradient(whitesmoke,#d3d3d359);
    position: relative;
    padding-top: 2rem;
    .second_container{
    width: 70vw;
    margin: 2rem auto 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
 
    h4{
        margin-bottom: 1.2rem;
        position: relative;
        padding-bottom: .5rem;
        &::before{
            content: '';
            position: absolute;
            bottom:0;
            left:0;
            width: 3rem;
            height:.2rem;
            background: #2dcea4;
            
        }
    }
    ul{
        li{
            margin-bottom: .8rem;
            a{
                color:gray;
            }
        }
    }
}
.footer-pos{
    position: absolute;
    width: 35rem;
    right: 12rem;
    bottom: -7rem;
}
}